.banner {
  background-image: url("../../images/background.png");
  background-size: cover;
  padding: 200px;
  object-fit: fill;
}

h1 {
  color: white;
}

.banner-paragraph {
  color: white;
  opacity: 0.7;
  font-size: 20px;
}

.green-btn {
  border-radius: 50px;
  background-color: #1EDD88;
  padding: 16px 36px;
  color: white;
  display: inline-block;
}
